body{
    background-color:rgb(165, 159, 151);
}
h1{
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 15vh;
    font-size: 5vh;
    color: white;
    font-family: viner hand itc;
}
h2{
    font-size: 3vh;
    font-family: rockwell hand itc;
    font-style: italic ;
    
}
p{
    font-size: 2vh;
}
/*----------------------------HEADER---------------------------*/
#logo img{
    width: 40%;
    height: auto;
}
#logo{
    display: flex;
    justify-content: center;
    padding-top: 0.1vh;
}
.navbar{
   margin-left: 10vh;
   margin-right: 10vh;
   border-radius: 5vh;
   padding-left: 10vh;
   font-size: 3vh;
   font-family: viner hand itc;
   color: black;
   position: sticky;
   top: 1px;
   z-index: 99;
   
}
.nav-item{
   padding-left: 5vh;
}
.navbar img{
    width: 10%;
    height: auto;
    padding-left: 0.3vh;
}
.nav-item:hover{
    font-weight: bold;
}
/*----------------------------Présentation------*/
#fevecacao{
    display: flex;
    justify-content: center;
}
#photocacao img{
    width: 40vh;
    height: auto;
    padding-top: 10vh; 
}
#presentation p{
    margin-top: 30vh;
    background-color: rgb(27, 26, 26);
    border-radius: 2px;
    text-align: justify;
    padding-left: 2vh;
    font-size: 3vh;
    color:white;
}
/*-----------------------------carousel Noel--------*/

.carousel{
    width: 60vh;
    height: auto;  
    padding-bottom: 10vh;
}
#photonoel img{
    width: 30vh;
    height: auto;
}
#photonoel2 img{
    width: 30vh;
    height: auto;
}
#photonoel3 img{
    width: 30vh;
    height: auto;
}
#photonoel4 img{
    width: 30vh;
    height: auto;
}
 .row{
    padding-left: 15vh;
    padding-bottom: 5vh;
} 
#evenement{
    border: 6px solid rgb(63, 104, 58) ;
    margin-bottom: 10vh;
    text-align: center;
    color: black;
   
}
#evenement p{
    font-size: 3vh;
    padding-bottom: 2vh;
}
#evenement h1{
    padding-bottom: 5vh;
    padding-top: 3vh;
    color: black;
}
.gammenoel img{
    width: 70vh;  
}
.gammenoel{
    display: flex;
    justify-content: center;

}
#boutons{
    display: flex;
    justify-content: center;
    margin-bottom: 5vh;
}
#boutoncommander{
    display: flex;
    justify-content: center;
}
#commander p{
    font-size: 3vh;
    text-align: center;
}
.modal-body{
    background-color: black;
}
#card1 img{
    width: 100%;
}
#card2 img{
    width: 100%;
}
#card3 img{
    width: 100%;
}
#card4 img{
    width: 100%;
}
#card5 img{
    width: 100%;
}
#card6 img{
    width: 100%;
}
#card7 img{
    width: 100%;
}
#card8 img{
    width: 100%;
}
#card9 img{
    width: 100%;
}
#card10 img{
    width: 100%;
}
#card11 img{
    width: 100%;
}
#card12 img{
    width: 100%;
}
#card13 img{
    width: 100%;
}
#card14 img{
    width: 100%;
}
#card15 img{
    width: 100%;
}
#card16 img{
    width: 100%;
}
#card17 img{
    width: 100%;
}
#card18 img{
    width: 100%;
}
#card19 img{
    width: 100%;
}
#card20 img{
    width: 100%;
}
#card21 img{
    width: 100%;
}
#card22 img{
    width: 100%;
}
#card23 img{
    width: 100%;
}
#card24 img{
    width: 100%;
}
.modal-body h1{
    color: white;
}
.modal-body p{
    color: white;
}
.modal-body h2{
    color:white;
}
.modal-body{
    padding-left: 20vh;
    padding-right: 20vh;
}
.modal-btn{
    padding: 0;
    border-radius:5px;
    background: none;
    border: none;
    box-shadow: 0px 0px 26px 7px rgba(0,0,0,0.75);
}
.modal-btn img{
    border-radius: 5px;
}
.modal-header{
    color: white;
}
.adresse{
    display: flex;
    justify-content: center;
}
#modal-newsletter h3{
    font-size: 3vh;
    color: white;
    text-align: center;
    padding-bottom: 5vh;
    padding-top: 5vh;
    
}
#modal-newsletter label{
    font-size: 3vh;
    padding-top: 5vh;
}
#modal-newsletter input{
    height: 5vh;
}
#modal-newsletter input::placeholder{
    font-size: 2vh;
}
#btn-formulaire{
    width: 5vh;
}
.form-check input{
    width: 5vh;
}


/*----------------------------footer----------------*/

#lapin-masque img{
    width: 5vh;
}



#contact h2{
    font-size: 3vh;
    padding-top: 10vh;
}
#contact p{
    font-size: 2.3vh;
}
footer{
    background-color: rgb(63, 104, 58);
    border-top:rgb(0, 0, 0) solid 5px;
}
footer h1{
    color: black;
    font-size: 8vh;

}
#fb img{
    width: 5vh;
    height: auto;
    padding-top: 2vh;
}
.btn{
    width: 15vw;
    height: auto;
    margin-left: 14vh;
    margin-top: 5vh;
    font-size: 2vh;
}
#boutonmention{
    display: flex;
    justify-content: center;
}
label{
    color: white;
}
footer h1{
    padding-bottom: 5vh;
    
}
footer row{
    display: flex;
}
    

    




/* ---------------------media query -------------------------------------*/

/* min = à partir de  */
/* max= jusqu'à de */
@media(max-width: 1200px){
    #logo img{
        width: 60vw;
        height: auto;
    }
    .navbar{
       font-size: 2vh;
    }
    .nav-item{
       padding-left: 4vh;
    }
    /*----------------------------Présentation------*/
    #photocacao img{
        width: 30vh;
        height: auto;
    }
    #presentation p{
        margin-top: 20vh;
        padding-left: 2vh;
        font-size: 2.7vh;
    }
    /*-----------------------------carousel Noel--------*/
    .carousel{
        width: 60vh;
        height: auto;
    }
    .row{
        padding-left: 1.5vh;
        padding-bottom: 4vh;
    }
    .gammenoel img{
        width: 60vh;  
    }
    #boutons img{
        width: 40vh; 
        margin-left: 25vh; 
    }
    #boutoncommander img{
        width: 40vh;
    }
    #commander p{
        font-size: 3vh;
        text-align: center;
    }
    #evenements p{
        font-size: 2.7vh;
        padding-bottom: 2vh
    }
    #evenements h1{
        padding-bottom: 5vh;
        padding-top: 3vh;
    }
    
    /*----------------------------footer----------------*/
    
    #evenement p{
        padding-left: 10vh;
        padding-top: 2vh;
        text-align: justify;
        font-size: 1.7vh;
    }
    #lapin-masque h2{
        font-size: 1.7vh;
    }
    #contact h2{
        font-size: 2.7vh;
        padding-top: 3vh;
    }
    .btn{
        width: 10vw;
        height: auto;
        margin-left: 14vh;
        margin-top: 5vh;
        font-size: 1.7vh;
    }
    #contact p{
        font-size:1.7vh;
    }
}
@media(max-width: 990px){
    #logo img{
        width: 50vw;
        height: auto;
    }
    .navbar{
       font-size: 1.7vh;
    }
    /*----------------------------Présentation------*/
    #photocacao img{
        width: 20vh;
        height: auto;
    }
    #presentation p{
        margin-top: 17vh;
        padding-left: 1.7vh;
        font-size: 2vh;
    }
    /*-----------------------------carousel Noel--------*/
    .carousel{
        width: 50vh;
        height: auto;
    }
    .row{
        padding-left: 1.5vh;
        padding-bottom: 4vh;
    }
    .gammenoel img{
        width: 50vh;  
    }
    #photonoel img{
        width: 25vh;
        height: auto;
    }
    #photonoel2 img{
        width: 25vh;
        height: auto;
    }
    #photonoel3 img{
        width: 25vh;
        height: auto;
    }
    #photonoel4 img{
        width: 25vh;
        height: auto;
    }
    #commander p{
        font-size: 2vh;
        text-align: center;
    }
    #evenements{
        margin-bottom: 8vh;
    }
    #evenements p{
        font-size: 1.7vh;
        padding-bottom: 2vh
    }
    #evenements h1{
        font-size: 2.7vh;
    }
    /*----------------------------footer----------------*/   
    #lapin-masque h2{
        font-size: 1.7vh;
    }
    #contact h2{
        font-size: 2.7vh;
        padding-top: 3vh;
        padding-left: 2 
    }
    .btn{
        margin-left: 14vh;
        margin-top: 5vh;
        font-size: 1.2vh; 
        
    }
    #contact p{
        font-size:1.5vh;
    }
    #paragraphe p{
        font-size: 1.9vh;
    }
}
@media(max-width: 798px){
    #logo img{
        width: 50vw;
        height: auto;
    }
    .navbar{
       font-size: 1.7vh;
       width: 40vh;
       height: auto;
    }
    /*----------------------------Présentation------*/
    #photocacao img{
        width: 15vh;
        height: auto;
        padding-left: 0.7vh
    }
    #presentation p{
        margin-top: 15vh;
        padding-left: 1.7vh;
        font-size: 1vh;
    }
    #presentation{
        margin-right: 1vh;
    }
    /*-----------------------------carousel Noel--------*/
    .carousel{
        width: 40vh;
        height: auto;
    }
    .row{
        padding-left: 1.5vh;
        padding-bottom: 4vh;
    }
    .gammenoel img{
        width: 40vh;  
    }
    #photonoel img{
        width: 22vh;
        height: auto;
    }
    #photonoel2 img{
        width: 22vh;
        height: auto;
        padding-bottom: 2vh;
    }
    #photonoel3 img{
        width: 22vh;
        height: auto;
    }
    #photonoel4 img{
        width: 22vh;
        height: auto;
    }
    #commander p{
        font-size: 1.5vh;
        text-align: justify;   
    }
   .btn{
       width: 20vh;
       margin-right: 15vh;
   }
    #evenements{
        margin-bottom: 8vh;
    }
    #evenements p{
        font-size: 1.7vh;
        padding-bottom: 2vh
    }
    #evenements h1{
        font-size: 2.7vh;
    }
    /*----------------------------footer----------------*/   
    .btn{
        margin-left: 14vh;
        margin-top: 5vh;
        font-size: 1vh;
    }
    #contact p{
        font-size:1.5vh; 
        display: flex; 
        justify-content: center;
        padding-bottom: 1vh; 
        text-align: center;
    }
    #contact h2{
        display: flex;
        justify-content: center;
        
    }
    #paragraphe p{
        font-size: 1.9vh;
    }
    iframe{
        width: 100%;
        height: auto;
        padding-top: 2vh;
        padding-left: 7vh
    }
    
}