body{
    background-color:rgb(192, 170, 141);
}
/*----------------------------HEADER---------------------------*/
#logo img{
    width: 15vw;
    height: auto;
}
#chocolats img{
    width: 20vw;
    height: auto;
}
#logo{ 
    /*margin-left: 100px;*/
    padding-top: 2vh;
    padding-left: 50vh;
    
}
#chocolats{
    /* padding-right: 100px; */
    padding-top: 2vh;
    
    
}  
.navbar{
    border-radius: 30vh;   
}
#barre{
   color: rgb(49, 45, 45); 
}
/*----------------------------footer----------------*/