body{
    background-color:rgb(165, 159, 151);
}

/*----------------------------HEADER---------------------------*/
#logo img{
    width: 50vw;
    height: auto;
}
#logo{
    display: flex;
    justify-content: center;
    padding-top: vh;
    padding-bottom: 2vh;
}
.navbar{
   margin-left: 10vh;
   margin-right: 10vh;
   border-radius: 5vh;
   padding-left: 20vh;
   font-size: 3vh;
}
.nav-item{
   padding-left: 8vh;
}
.navbar img{
    width: 25vh;
    height: auto;
    padding-left: 1vh;
}
/*----------------------------Présentation------*/
#fevecacao{
    display: flex;
    justify-content: center;
}
#photocacao img{
    width: 40vh;
    height: auto;
    padding-top: 10vh; 
}
#presentation p{
    margin-top: 30vh;
    background-color: white;
    border-radius: 2px;
    text-align: justify;
    padding-left: 2vh;
    font-size: 3vh;
}
/*-----------------------------carousel Noel--------*/
h1{
    text-align: center;
    padding-top: 10vh;
    padding-bottom:10vh;
}
.carousel{
    width: 80vh;
    height: auto;
    border-radius: 10px;  
    padding-bottom: 10vh;
}
#photonoel img{
    width: 30vh;
    height: auto;
}
#photonoel2 img{
    width: 30vh;
    height: auto;
}
#photonoel3 img{
    width: 30vh;
    height: auto;
}
#photonoel4 img{
    width: 30vh;
    height: auto;
}
.row{
    padding-left: 10vh;
    padding-bottom: 5vh;
}
#marchés{
    margin-left: 20vh;
    margin-right: 20vh;
    border: 2px solid bisque ;
    margin-bottom: 20vh;
   
}
#gammenoel img{
    width: 80vh;
    
}
#gammenoel{
    display: flex;
    justify-content: center;
}

/*----------------------------footer----------------*/
#lapin-masque img{
    width: 15vh;
    height: auto;
    padding-top: 3vh;
}
#lapin-masque{
    padding-left: 15vh;
    display: flex;     
}
#paragraphe p{
    padding-left: 15vh;
    padding-top: 2vh;
    text-align: justify;
    font-size: 15px;
}
#lapin-masque h2{
    font-size: 2vh;
    padding-left: 4vh;
    padding-top: 4vh;
}
h1{
    text-align: center;
}

#contact h2{
    font-size: 3vh;
    padding-top: 3vh;
}
footer{
    background-color: rgb(122, 179, 172);
    border-top:rgb(71, 129, 122) solid 2px;
}
#telephone img{
    width: 4vh;
    height: auto;
    padding-bottom: 2vh;
}

#mail-contact img{
    width: 7vh;
    height: auto;
    padding-bottom: 2vh;;
    
}
#mail-commande img{
    width: 5vh;
    height: auto;
    padding-bottom: 2vh;

}
#fb img{
    width: 4vh;
    height: auto;
   padding-bottom: 2vh;
}
.btn{
    width: 15vw;
    height: auto;
    margin-left: 14vh;
    margin-top: 5vh;
    font-size: 2vh;
}
#bouton{
    padding-bottom: 5vh;
    display: flex;
    justify-content: center;
}
/* ---------------------media query -------------------------------------*/

/* min = à partir de  */
/* max= jusqu'à de */
@media(max-width: 1200px){
    #logo img{
        width: 30vw;
        height: auto;
    }
    #logo{
        display: flex;
        justify-content: center;
        padding-top: 5vh;
        padding-bottom: 5vh;
    }
    .navbar{
       margin-left: 10vh;
       margin-right: 10vh;
       border-radius: 5vh;
       padding-left: 15vh;
    }
    .nav-item{
       padding-left: 8vh;
    }
    /*----------------------------Présentation------*/
    #fevecacao{
        display: flex;
        justify-content: center;
    }
    #photocacao img{
        width: 28vh;
        height: auto;
        padding-top: 10vh;
        
        
    }
    #presentation p{
        margin-top: 20vh;
        background-color: white;
        border-radius: 2px;
        text-align: justify;
        padding-left: 2vh;
    }
    /*-----------------------------carousel Noel--------*/
    h1{
        text-align: center;
        padding-top: 10vh;
        padding-bottom:10vh;
    }
    .carousel{
        width: 80vh;
        height: auto;
        border-radius: 10px;  
        padding-bottom: 10vh;
    }
    #photonoel img{
        width: 30vh;
        height: auto;
    }
    #photonoel2 img{
        width: 30vh;
        height: auto;
    }
    #photonoel3 img{
        width: 30vh;
        height: auto;
    }
    #photonoel4 img{
        width: 30vh;
        height: auto;
    }
    .row{
        padding-left: 10vh;
        padding-bottom: 5vh;
    }
    #marchés{
        margin-left: 20vh;
        margin-right: 20vh;
        border: 2px solid bisque ;
        margin-bottom: 20vh;
       
    }
    
    /*----------------------------footer----------------*/
    #lapin-masque img{
        width: 15vh;
        height: auto;
        padding-top: 3vh;
    }
    #lapin-masque{
        padding-left: 15vh;
        display: flex;     
    }
    #paragraphe p{
        padding-left: 15vh;
        padding-top: 2vh;
        text-align: justify;
        font-size: 15px;
    }
    #lapin-masque h2{
        font-size: 2vh;
        padding-left: 4vh;
        padding-top: 4vh;
    }
    h1{
        text-align: center;
    }
    
    #contact h2{
        font-size: 3vh;
        padding-top: 3vh;
    }
    footer{
        background-color: rgb(122, 179, 172);
        border-top:rgb(71, 129, 122) solid 2px;
    }
    #telephone img{
        width: 4vh;
        height: auto;
        padding-bottom: 2vh;
    }
    
    #mail-contact img{
        width: 7vh;
        height: auto;
        padding-bottom: 2vh;;
        
    }
    #mail-commande img{
        width: 5vh;
        height: auto;
        padding-bottom: 2vh;
    
    }
    #fb img{
        width: 4vh;
        height: auto;
       padding-bottom: 2vh;
    }
    .btn{
        width: 15vw;
        height: auto;
        margin-left: 14vh;
        margin-top: 5vh;
        font-size: 2vh;
    }
    #bouton{
        padding-bottom: 5vh;
        display: flex;
        justify-content: center;
    }
}