body{
    background-color:rgb(165, 159, 151);
}
#formulaire{
    display: flex;
    flex-direction: column;
}
h4{
    font-size: 5vh;
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 8vh;
}
#formulaire p{
    font-size: 3vh;
    text-align: center;
    padding-bottom: 8vh;
}
label{
    font-size: 2.5vh;
}
input{
    border-radius: 20%;
    padding-bottom: 1vh;
}
.form-check{
    padding-top: 6vh;
    padding-left: 35vh;
}

#ferme{
    display: flex;
    justify-content: flex-end; 
    font-size: 5vh;
    padding-top: 2vh;

}